@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Merriweather:wght@300&family=Montserrat:wght@100&family=Sacramento&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  color: rgb(131, 126, 126);
  font-family: "Lato", sans-serif;
  line-height: 1.7;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.far {
  color: rgb(39, 118, 239);
  height: 1.6rem;
}
.pointer {
  cursor: pointer;
}
.hide {
  display: none;
  opacity: 0;
}
.nav {
  height: 60px;
  background-color: rgb(39, 118, 239);
  color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 2;
  justify-content: space-around;
}
.navbar-brand {
  font-weight: 700;
  font-size: 1.2rem;
  height: 100%;
  margin-left: 0;
  flex-direction: column;
  padding: 1.5rem 0.5rem;
  width: fit-content;
}
.flipkart-brand img {
  height: 2rem;
  width: 100%;
}
.explore-plus {
  font-style: italic;
  text-decoration: none;
  color: rgb(255, 255, 255);
  gap: 0.2rem;
  margin-top: -0.1rem;
}
.explore-plus .plus {
  color: rgb(243, 222, 16);
}
.explore-plus img {
  height: 1rem;
  width: auto;
}
.explore-plus:hover {
  text-decoration: underline;
  color: #fff;
}
.search-container {
  border-radius: 0.3rem;
  background-color: rgb(255, 255, 255);
  height: 3.6rem;
  text-align: center;
  width: 450px;
}
.search {
  border-radius: 0.3rem;
  font-size: 1.4rem;
  border: 0;
  outline: 0;
  padding-left: 1.6rem;
}
.span {
  text-align: center;
}
.fa-search {
  color: rgb(39, 118, 239);
  font-size: 1.6rem;
  padding: 1rem;
}
.nav-navigator {
  font-size: 1.6rem;
  font-weight: 700;
  height: 100%;
  margin-left: 2rem;
  width: 40.0rem;
  justify-content: space-around;
}
.login-container {
  background-color: rgb(255, 255, 255);
  border-radius: 0.1rem;
  height: 30px;
  padding: 0;
  text-align: center;
  width: auto;
  /* flex-direction: column; */
}
.login {
  padding: 0 0rem 0;
  color: rgb(39, 118, 239);
  text-align: center;
  width: fit-content;
  /* margin-top: 1.5rem; */
  /* margin-left: -6px; */
}
.login-container:hover .fas,
.more-container:hover .fas {
  display: inline-block;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 900;
  width: 100%;
  opacity: 1;
  font-size: 3.6rem;
  padding-top: 0;
  margin: -0.4rem;
}
/* .sign-up {
  color: rgb(39, 118, 239);
  padding-left: 3rem;
}
.fa-caret-up {
  font-size: 3.8rem;
  height: 2.4rem;
  padding-top: 0;
}
ul .login-container:hover .login-dropbox,
ul .more-container:hover .more-dropbox {
  display: flex;
  opacity: 1;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  border-radius: 0.3rem;
  color: rgb(0, 0, 0);
  width: 25rem;
  margin-left: -6px;
  background-color: rgb(255, 255, 255);
} 
*/
.more-container {
  background-color: rgb(39, 118, 239);
  border: 0px;
  padding: 0;
}
.more {
  display: inline-block;
  color: #fff;
  /* 
  font-size: 1.6rem;
  font-weight: 700; 
  */
  margin-right: 0.9rem;
}
.fa-angle-down,
.fa-angle-up,
.fa-caret-up,
.fa-shopping-cart{
  color: #fff;
}
.more-container:hover .fa-angle-down {
  display: none;
} 
.more-container:hover .fa-angle-up {
  display: inline;
  opacity: 1;
}
.cart-container {
  padding: 0;
  border: 0;
  background-color: rgb(39, 118, 239);
}
.cart{
  color: #ffffff;
  margin-left: 0.9rem;
}
.catogeory-container {
  overflow-x: auto;
  border: 0;
  padding-left: .5rem o;
}
.catogeory-container .card{
  border: 0;
  display: inline-block;
  width: 100px;
}
.card-body a:link {
  text-decoration: none;
  text-align: center;
}
.card-body .card-title{
  color: rgba(0, 0, 0, 0.867);
  font-size: 2rem;
  font-weight: 700;
}
.card-body:hover .card-title,
.card-body:hover .card-body a .fa{
  color: rgb(39, 118, 239);
}
.card-body a .fa{
  color: rgba(0, 0, 0, 0.867);
}

.deal {
  background-color: #fff;
  color: rgb(10, 20, 20);
  margin: 15px auto;
  width: 106vw;
  position: relative;
  border-top: 1px solid rgba(203, 204, 207, 0.651);
  box-shadow: 3px 5px 10px rgb(203 204 207 / 89%);
}
.main-deals {
  display: inline-block;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
}
.deal-titel {
  justify-content: space-between;
  border: 0;
  font-weight: 700;
  font-size: 1.8rem;
  position: sticky;
  left: 0px;
  width: 100%;
  margin-top: 5px;
}
.deal-titel h2 {
  font-size: 3rem;
  margin: 0;
  padding-left: 20px;
}
section .view-all {
  border-radius: 3px;
    border: 0;
    background-color: rgb(39, 118, 239);
    color: #fff;
    padding: 4px;
    margin: 5px 43px 5px auto;
    text-transform: uppercase;
}
.deal-items {
  display: inline-flex;
  gap: 20px;
  border-top: 1px solid rgb(203, 204, 407);
  padding-top: 6px;
}
.deal-items .item {
  display: block;
  width: 200px;
  border: 0;
  margin-top: 8px;
  overflow: hidden;
  text-align: center;
}
.item a:link{
  color: rgb(0, 0, 0);
  transform: scale(2);
  text-decoration: none;
}
.item a img {
  display: inline-block;
  height: 200px;
  width: 150px;
  align-self: center;
  border-radius: 0;
}

.item a .item-title,
.item a .description{
  text-transform: none;
  text-align: center;

    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 0;
    color: rgb(0, 0, 0);
}

.item a .offer {
  color: seagreen;
  text-align: center;
  margin: 3px 0;
  font-size: 1.4rem;
  font-weight: 700;
  
}
section .side-deals ,
.side-deals{
  width: 21%;
  height: 100%;
  border: -20px 2px 20px rgba(203, 204, 207, 0.651);
}
section .side-deals a img {
  display: block;
  height: 100%;
  width: 100%;
  border: 2px ridge rgb(203, 204, 207);
  box-shadow: 1px 2px 20px rgba(203, 204, 207, 0.651);
} 
.additional-features {
  height: 70px;
  align-items: center;
  padding: 10px 0 10px 0;
  border-top: 1px solid #fff;
  background-color: rgb(23,35,55);
}
.feature a:link{
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  font-weight: 500;
}
.footer-container{
  background-color: rgb(23,35,55);
  padding: 4rem 4rem 0 4rem;
  font-size: 1.2rem;
  color: #fff;
  height: fit-content;
}
.footer-main{
  margin-bottom: 60px;
}
.footer-side{
  border-left: 1px solid rgba(203, 204, 207, 0.651);
  margin-bottom: 30px;
  padding-left: 20px;
}
.footer-item li{
  background-color: rgb(23,35,55);
  border: 0;
}
.list-group h3.title{
  font-size: 1.4rem;
  color: rgb(70, 69, 69);
  text-transform: uppercase;
}
.list-group a:link{
  color: #fff;
  text-decoration: none;
}
.list-group-item a:link:hover{
  text-decoration: underline;
}
.list-group .description{
  color: #fff;
}

.d-items{
  overflow-x: scroll;
  width: 100%;

}
.side-deal a img{
  display: block;
  height: 320px;
  width: auto;
  border: 2px ridge rgb(203, 204, 207);
  box-shadow: 1px 2px 20px rgba(203, 204, 207, 0.651);

}