@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900;&family=Merrweather:wght@300&family=Montserrat:wght@100@family=Sacramento&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  line-height: 1.7;
  font-size: 10px;
}
ul li {
  list-style-type: none;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pointer {
  cursor: pointer;
}
.header-container {
  background-color: rgb(40, 116, 240);
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
}
.navcontainer {
  width: 980px;
  max-width: 1080px;
  margin-left: 130px;
  height: 100%;
}
.container-logo {
  height: 100%;
  flex-direction: column;
  /* align-self: flex-start */
  margin-left: -30px;
  width: auto;
}
.logo-img img {
  height: 20px;
  width: auto;
}
.container-logo a:link {
  align-items: stretch;
  color: #fff;
  font-size: 11px;
  font-style: italic;
  font-weight: 300;
  text-decoration: none;
}
.plus {
  color: rgb(243, 222, 16);
  font-size: 11px;
  font-weight: 500;
}
a .explore-plus {
  padding-left: 2px;
  height: 10px;
  width: auto;
}
.container-logo a:link:hover {
  text-decoration: underline #fff;
}
.container-searchBar {
  /* background-color: rgb(8, 8, 8); */
  height: 100%;
  margin: auto 0 auto 14px;
  max-width: 490px;
}
.search-box {
  background-color: #fff;
  justify-content: start;
  border-radius: 3px;
  height: 36px;
  margin: 8px auto;
}
.search {
  width: 430px;
  outline: none;
  border: 0;
  padding: 0 0 0 16px;
  font-size: 13px;
}
.search-btn {
  border: 0;
  height: 34px;
  padding: 6px;
  width: auto;
}
button .fa {
  background-color: #fff;
  color: rgb(40, 116, 240);
}
.container-login {
  align-items: center;
  background-color: rgb(40, 116, 240);
  height: 100%;
  margin: auto 0 auto 80px;
}
.login {
  border-radius: 2px;
  font-weight: 700;
  background-color: #fff;
  color: rgb(40, 116, 240);
  font-size: 14px;
  padding: 1px 40px;
  margin-bottom: 0;
  text-align: center;
}
.login-dropbox {
  display: none;
}
.container-login:hover .login-dropbox {
  background-color: #fff;
  color: rgb(17, 17, 17);
  display: inline-block;
  position: absolute;
  margin-left: -40px;
  top: 40px;
}
.container-more {
  /* background-color: rgb(40, 116, 240); */
  color: #fff;
  font-weight: 500;
  height: 100%;
  margin: auto 15px auto;
  position: relative;
  margin: 0 40px 0 40px;
}
.more {
  font-size: 14px;
  font-weight: 700;
  padding: 2px;
}
.fa-angle-up {
  display: none;
  opacity: 0;
}
.container-more:hover .fa-angle-down {
  opacity: 0;
}
.container-more:hover .fa-angle-up {
  display: inline-block;
  position: absolute;
  opacity: 1;
  right: 0px;
}
.container-more .fa {
  color: #fff;
  font-size: 12px;
}
.more-dropbox {
  display: none;
}
.container-more:hover .more-dropbox {
  background-color: #fff;
  color: rgb(17, 17, 17);
  display: inline-block;
  position: absolute;
  margin-left: -10px;
  width: 150px;
  top: 40px;
}
.container-cart {
  height: 100%;
  font-size: 15px;
  width: 70px;
  padding: 14px 0;
}
.container-cart a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
.container-cart a:hover {
  color: #fff;
}
/* .container {
  margin: auto;
  background-color: rgb(0, 0, 0); 
  max-width: 1420px; 
  overflow: hidden; 
  flex-direction: column; 
 } */
.catogeory-container {
  width: 100%;
  margin: 1rem;
}
.item {
  margin: 0px 25px 0 0;
  text-align: center;
  padding: 7px;
}
.catogeory-container .item:hover a p {
  color: rgb(39, 118, 239);
}
.catogeory-container img {
  height: 70px;
  border-radius: 50px;
  width: 70px;
  border: 0;
}
.catogeory-container a p {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: rgb(53, 50, 50);
}
/* .slider{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 118, 239);
} */
.deal {
  background-color: #fff;
  color: rgb(10, 20, 20);
  margin: 2px auto;
  width: 100%;
}
.main-deals {
  display: inline-block;
  flex-direction: column;
  margin: 0px 5px 7px 7px;
  width: 99%;
  border: 2px ridge rgba(203, 204, 207, 0.774);
}
.deal-titel {
  justify-content: space-between;
  margin: 10px 30px 10px;
  border: 0;
  width: 95%;
}
.deal-titel h2 {
  font-size: 22px;
  margin: 0;
  padding-left: 20px;
}
section .view-all {
  border-radius: 3px;
  border: 0;
  background-color: rgb(39, 118, 239);
  color: #fff;
  font-weight: 500;
  padding: 12px;
  text-transform: uppercase;
}
.deal-items {
  display: inline-flex;
  justify-content: start;
  border-top: 1px solid rgb(203, 204, 207);
  padding: 20px 10px 10px 0;
}
.item-title {
  font-size: 13px;
  margin: 5px auto 5px;
}
.item a img {
  display: inline-block;
  height: 120px;
  width: 95px;
}
.deal-items .item {
  display: block;
  padding: 5px;
  border: 0;
  margin-top: 15px;
  overflow: hidden;
}
.deal-items .item:hover h6,
p {
  transition: transform 5s;
  text-transform: none;
  color: rgb(0, 0, 0);
}
.item a {
  color: rgb(0, 0, 0);
  transform: scale(2);
  text-transform: none;
  text-decoration: none;
}
.item a .offer {
  color: seagreen;
  font-size: 12px;
  font-weight: 300;
  margin: 2px 1px;
}
section .side-deals a img {
  display: block;
  height: 328px;
  width: 100%;
  border: 2px ridge rgb(203, 204, 207);
  box-shadow: 0 1px 2px 0 rgba(203, 204, 207, 0.651);
}
.item a .description {
  font-size: 12px;
  text-align: center;
  margin: auto;
  overflow: hidden;
}
